{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <div class="field">
        <div class="control">
            <label for="username">{{ 'security.login.username'|trans }}</label>
            <input type="text" class="input is-primary" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
        </div>
    </div>
    <div class="field">
        <div class="control">
            <label for="password">{{ 'security.login.password'|trans }}</label>
            <input type="password" class="input is-primary" id="password" name="_password" required="required" autocomplete="current-password" />
        </div>
    </div>
    <div class="field">
        <div class="control">
            <input type="checkbox"  id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <button type="submit" class="button is-primary" id="_submit" name="_submit">{{ 'security.login.submit'|trans }}</button>
        </div>
    </div>
</form>
